<div class="container-fluid m-0 p-0 mainContainerBackground">
    <div class="row m-0 p-0">
        <div class="col-12 m-0 p-0">
            <div class="container">
                <div class="row my-5">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a routerLink="/home" class="breadcrumbStyle"><b>Home</b></a></li>
                            <li class="breadcrumb-item"><a routerLink="/manageUser" class="breadcrumbStyle"><b>Manage User</b></a></li>
                            <li class="breadcrumb-item active" aria-current="page">Data</li>
                        </ol>
                    </nav>
                    <div class="col-12 secondaryContainerBackground p-4">
                        <h1 class="h3 mb-4 mainHeader"><i class="fas fa-user-plus"></i> Edit User</h1>
                        <form class="row g-3" [formGroup]="editUserForm" (ngSubmit)="formSubmit()">
                            <div class="col-md-4">
                              <label for="inputFirstName" class="form-label">First Name</label>
                              <input [class.is-invalid]="firstName.invalid && firstName.touched" type="text" formControlName="firstName" class="form-control" id="inputFirstName" placeholder="Enter first name">
                              <div *ngIf="firstName.invalid && firstName.touched">
                                <small *ngIf="firstName.errors?.['required']" class="text-danger">First name is required</small>
                              </div>
                            </div>
                            <div class="col-md-4">
                                <label for="inputMiddleName" class="form-label">Middle Name</label>
                                <input type="text" formControlName="middleName" class="form-control" id="inputMiddleName" placeholder="Enter middle name">
                            </div>
                            <div class="col-md-4">
                                <label for="inputLastName" class="form-label">Last Name</label>
                                <input [class.is-invalid]="lastName.invalid && lastName.touched" type="text" formControlName="lastName" class="form-control" id="inputLastName" placeholder="Enter last name">
                                <div *ngIf="lastName.invalid && lastName.touched">
                                    <small *ngIf="lastName.errors?.['required']" class="text-danger">Last name is required</small>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label for="inputUserName" class="form-label">User Name</label>
                                <input [class.is-invalid]="userName.invalid && userName.touched" type="text" formControlName="userName" class="form-control" id="inputUserName" placeholder="Enter user name">
                                <div *ngIf="userName.invalid && userName.touched">
                                    <small *ngIf="userName.errors?.['required']" class="text-danger">User name is required</small>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label for="inputDob" class="form-label">Date Of Birth</label>
                                <input [class.is-invalid]="dob.invalid && dob.touched" type="date" formControlName="dob" class="form-control" id="inputDob">
                                <div *ngIf="dob.invalid && dob.touched">
                                    <small *ngIf="dob.errors?.['required']" class="text-danger">Date of birth is required</small>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label for="inputGender" class="form-label">Gender</label>
                                <select [class.is-invalid]="sex.invalid && sex.touched" id="inputGender" class="form-select" formControlName="sex">
                                  <option>Male</option>
                                  <option>Female</option>
                                  <option>Rather not say</option>
                                </select>
                                <div *ngIf="sex.invalid && sex.touched">
                                  <small *ngIf="sex.errors?.['required']" class="text-danger">Select your gender</small>
                                </div>
                            </div>

                            <div class="row m-0 p-0" formGroupName="contactDetails">
                                <div class="col-12 mt-4">
                                    <label for="inputAddress1" class="form-label">Address 1</label>
                                    <input [class.is-invalid]="address1?.invalid && address1?.touched" type="text" formControlName="address1" class="form-control" id="inputAddress1" placeholder="House no, building name">
                                    <div *ngIf="address1?.invalid && address1?.touched">
                                        <small *ngIf="address1?.errors?.['required']" class="text-danger">Address 1 is required</small>
                                    </div>
                                </div>
                                <div class="col-12 mt-4">
                                    <label for="inputAddress2" class="form-label">Address 2</label>
                                    <input [class.is-invalid]="address2?.invalid && address2?.touched" type="text" formControlName="address2" class="form-control" id="inputAddress2" placeholder="Road name, area, colony">
                                    <div *ngIf="address2?.invalid && address2?.touched">
                                        <small *ngIf="address2?.errors?.['required']" class="text-danger">Address 2 is required</small>
                                    </div>
                                </div>
                                <div class="col-4 mt-4">
                                    <label for="inputCity" class="form-label">City / Town</label>
                                    <input [class.is-invalid]="city?.invalid && city?.touched" type="text" formControlName="city" class="form-control" id="inputCity" placeholder="Enter city name">
                                    <div *ngIf="city?.invalid && city?.touched">
                                        <small *ngIf="city?.errors?.['required']" class="text-danger">City is required</small>
                                    </div>
                                </div>
                                <div class="col-md-4 mt-4">
                                    <label for="inputDistrict" class="form-label">Select District</label>
                                    <select [class.is-invalid]="district?.invalid && district?.touched" id="inputDistrict" class="form-select" formControlName="district">
                                      <option>Alipurduar</option>
                                      <option>Bankura</option>
                                      <option>Birbhum</option>
                                      <option>Cooch Behar</option>
                                      <option>Dakshin Dinajpur</option>
                                      <option>Darjeeling</option>
                                      <option>Hooghly</option>
                                      <option>Howrah</option>
                                      <option>Jalpaiguri</option>
                                      <option>Jhargram</option>
                                      <option>Kalimpong</option>
                                      <option>Kolkata</option>
                                      <option>Malda</option>
                                      <option>Murshidabad</option>
                                      <option>Nadia</option>
                                      <option>North 24 Parganas</option>
                                      <option>Paschim Medinipur</option>
                                      <option>Paschim Burdwan</option>
                                      <option>Purba Burdwan</option>
                                      <option>Purba Medinipur</option>
                                      <option>Purulia</option>
                                      <option>South 24 Parganas</option>
                                      <option>Uttar Dinajpur</option>
                                    </select>
                                    <div *ngIf="district?.invalid && district?.touched">
                                        <small *ngIf="district?.errors?.['required']" class="text-danger">You must select district</small>
                                    </div>
                                </div>
                                <div class="col-md-4 mt-4">
                                    <label for="inputPinCode" class="form-label">Pin Code</label>
                                    <input [class.is-invalid]="pin?.invalid && pin?.touched" type="number" formControlName="pin" class="form-control" id="inputPinCode" placeholder="Enter pin code">
                                    <div *ngIf="pin?.invalid && pin?.touched">
                                        <small *ngIf="pin?.errors?.['required']" class="text-danger">Pincode is required</small>
                                        <small *ngIf="pin?.errors?.['minlength']" class="text-danger">Pincode must be of 6 digits</small>
                                        <small *ngIf="pin?.errors?.['maxlength']" class="text-danger">Pincode must be of 6 digits</small>
                                    </div>
                                </div>
                                <div class="col-md-6 mt-4">
                                    <label for="inputEmail" class="form-label">Email</label>
                                    <input [class.is-invalid]="email?.invalid && email?.touched" type="email" formControlName="email" class="form-control" id="inputEmail" placeholder="Enter registered email id">
                                    <div *ngIf="email?.invalid && email?.touched">
                                        <small *ngIf="email?.errors?.['required']" class="text-danger">Email id is required</small>
                                    </div>
                                </div> 
                                <div class="col-md-6 mt-4">
                                    <label for="inputContactNumber" class="form-label">Mobile Number</label>
                                    <input [class.is-invalid]="mobile?.invalid && mobile?.touched" type="tel" formControlName="mobile" class="form-control" id="inputContactNumber" placeholder="Enter mobile number">
                                    <div *ngIf="mobile?.invalid && mobile?.touched">
                                        <small *ngIf="mobile?.errors?.['required']" class="text-danger">Mobile number is required</small>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12 mt-4">
                                <label for="inputSubscriptionExpiry" class="form-label">Subscription Expiry</label>
                                <input type="date" formControlName="subscripionExpiry" class="form-control" id="inputSubscriptionExpiry">
                            </div>
                            <div class="col-md-2">
                              <div class="form-check">
                                <input formControlName="enabled" class="form-check-input" type="checkbox" id="enabledCheck">
                                <label class="form-check-label" for="enabledCheck">
                                  Enabled
                                </label>
                              </div>
                            </div>
                            <div class="col-md-10">
                                <div class="form-check">
                                  <input formControlName="trial" class="form-check-input" type="checkbox" id="trialCheck">
                                  <label class="form-check-label" for="trialCheck">
                                    Trial
                                  </label>
                                </div>
                            </div>                            
                            <div class="col-12 mt-4">
                              <button [disabled]="!editUserForm.valid" type="submit" class="btn btn-primary text-uppercase">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>