<nav class="navbar navbar-expand-lg navbar-light navbarMain">
  <div class="container ">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 text-uppercase">
        <!-- Visible only for devices <=md -->
        <li class="nav-item d-md-block d-lg-none">
          <a class="nav-link active" routerLink="/" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item d-md-block d-lg-none">
          <a class="nav-link active" routerLink="/" routerLinkActive="active">Manage Users</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- Secondary menu only for devices >= lg -->
<div class="navbarSecondary p-1 d-none d-lg-block shadow">
  <div class="container text-center">
    <ul class="secondMenuUl d-flex justify-content-around text-uppercase">
      <li class="secondMenuLi" >
        <a class="active" routerLink="/" routerLinkActive="active">Home</a>
      </li>
      <li class="secondMenuLi">
        <a class="active" routerLink="/manageUsers" routerLinkActive="active">Manage Users</a>
      </li>
      <li class="secondMenuLi">
        <a class="active" routerLink="/" routerLinkActive="active">Manage Hospitals</a>
      </li>
    </ul>
  </div>
</div>
