<footer>
	<div class="container-fluid footerCopyright">
		<div class="row">
      <div class="col-12">
        <div class="container ps-0 pe-0">
          <div class="row">
            <div class="col-12 text-center mt-5">
              <h2 class="text-uppercase">Banglar Health Zone</h2>
              <h5><a routerLink="/privacyPolicy" class="breadcrumbStyle">Privacy Policy</a></h5>
            </div>
            <div class="col-12 mt-1">
              <hr class="partnerHr">
            </div>
            <div class="col-12 copyrightStyle text-center mt-3 mb-5">
              <p>© 2022 Banglar Health Zone. All rights reserved. Designed and Developed by <a href="https://www.thespiders.in" target="_blank">The Spiders</a></p>
            </div>
          </div>
        </div>
      </div>
		</div>
	</div>
</footer>