.dropdown-menu {
  min-width:40px;
}

.cardBodyPadding {
  padding: 0px !important;
}

.dropdown-item {
  color: #0069d9;
}

.dropdown-item:hover {
  background-color: #007bff !important;
  color: #ffffff !important;
}
