<div class="container-fluid m-0 p-0 mainContainerBackground">
    <div class="row m-0 p-0">
        <div class="col-12 m-0 p-0">
            <div class="container">
                <div class="row my-5">
                    <nav aria-label="breadcrumb">
                      <ol class="breadcrumb">
                          <li class="breadcrumb-item"><a routerLink="/home" class="breadcrumbStyle"><b>Home</b></a></li>
                          <li class="breadcrumb-item"><a routerLink="/manageHospital" class="breadcrumbStyle"><b>Manage Hospital</b></a></li>
                          <li class="breadcrumb-item active" aria-current="page"><b>Edit Hospital</b></li>
                      </ol>
                    </nav>
                    <div class="col-12 secondaryContainerBackground p-4">
                        <h1 class="h3 mb-4 mainHeader"><i class="fas fa-edit"></i> Edit Hospital</h1>
                        <form class="row g-3" [formGroup]="editHospitalForm" (ngSubmit)="formSubmit()">
                            <div class="col-md-6">
                              <label for="inputHospitalName" class="form-label">Hospital Name</label>
                              <input [class.is-invalid]="name.invalid && name.touched" type="text" formControlName="name" class="form-control" id="inputHospitalName" placeholder="Enter hospital name">
                              <div *ngIf="name.invalid && name.touched">
                                <small *ngIf="name.errors?.['required']" class="text-danger">Hospital name is required</small>
                              </div>
                            </div>
                            <div class="col-md-3">
                              <label for="inputContactNumber" class="form-label">Contact Number</label>
                              <input [class.is-invalid]="contactNumber.invalid && contactNumber.touched" type="tel" formControlName="contactNumber" class="form-control" id="inputContactNumber" placeholder="Enter contact number">
                              <div *ngIf="contactNumber.invalid && contactNumber.touched">
                                <small *ngIf="contactNumber.errors?.['required']" class="text-danger">Contact number is required</small>
                              </div>
                            </div>
                            <div class="col-md-3">
                                <label for="inputEmail" class="form-label">Email</label>
                                <input [class.is-invalid]="registeredEmail.invalid && registeredEmail.touched" type="email" formControlName="registeredEmail" class="form-control" id="inputEmail" placeholder="Enter registered email id">
                                <div *ngIf="registeredEmail.invalid && registeredEmail.touched">
                                    <small *ngIf="registeredEmail.errors?.['required']" class="text-danger">Email id is required</small>
                                </div>
                            </div>
                            <div class="col-12">
                              <label for="inputAddress" class="form-label">Address</label>
                              <input [class.is-invalid]="address.invalid && address.touched" type="text" formControlName="address" class="form-control" id="inputAddress" placeholder="Enter hospital address">
                              <div *ngIf="address.invalid && address.touched">
                                <small *ngIf="address.errors?.['required']" class="text-danger">Address is required</small>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <label for="inputDistrict" class="form-label">Select District</label>
                              <select [class.is-invalid]="district.invalid && district.touched" id="inputDistrict" class="form-select" formControlName="district">
                                <option>Alipurduar</option>
                                <option>Bankura</option>
                                <option>Birbhum</option>
                                <option>Cooch Behar</option>
                                <option>Dakshin Dinajpur</option>
                                <option>Darjeeling</option>
                                <option>Hooghly</option>
                                <option>Howrah</option>
                                <option>Jalpaiguri</option>
                                <option>Jhargram</option>
                                <option>Kalimpong</option>
                                <option>Kolkata</option>
                                <option>Malda</option>
                                <option>Murshidabad</option>
                                <option>Nadia</option>
                                <option>North 24 Parganas</option>
                                <option>Paschim Medinipur</option>
                                <option>Paschim Burdwan</option>
                                <option>Purba Burdwan</option>
                                <option>Purba Medinipur</option>
                                <option>Purulia</option>
                                <option>South 24 Parganas</option>
                                <option>Uttar Dinajpur</option>
                              </select>
                              <div *ngIf="district.invalid && district.touched">
                                <small *ngIf="district.errors?.['required']" class="text-danger">You must select district</small>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <label for="inputPinCode" class="form-label">Pin Code</label>
                              <input [class.is-invalid]="districtCode.invalid && districtCode.touched" type="text" formControlName="districtCode" class="form-control" id="inputPinCode" placeholder="Enter pin code">
                              <div *ngIf="districtCode.invalid && districtCode.touched">
                                <small *ngIf="districtCode.errors?.['required']" class="text-danger">Pincode is required</small>
                              </div>
                            </div>
                            <div class="col-md-4">
                                <label for="inputHouseDoctors" class="form-label">House Doctors</label>
                                <input [class.is-invalid]="noOfHouseDoctors.invalid && noOfHouseDoctors.touched" type="number" formControlName="noOfHouseDoctors" class="form-control" id="inputHouseDoctors" placeholder="Enter number of house doctors">
                                <div *ngIf="noOfHouseDoctors.invalid && noOfHouseDoctors.touched">
                                    <small *ngIf="noOfHouseDoctors.errors?.['required']" class="text-danger">No of house doctors is required</small>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label for="inputVisitingConsultant" class="form-label">Visiting Consulatnt</label>
                                <input [class.is-invalid]="noOfVisitingConsultant.invalid && noOfVisitingConsultant.touched" type="number" formControlName="noOfVisitingConsultant" class="form-control" id="inputVisitingConsultant" placeholder="Enter number of visiting consultant">
                                <div *ngIf="noOfVisitingConsultant.invalid && noOfVisitingConsultant.touched">
                                    <small *ngIf="noOfVisitingConsultant.errors?.['required']" class="text-danger">No of visiting consultant is required</small>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label for="inputBedStrength" class="form-label">Bed Strength</label>
                                <input [class.is-invalid]="sanctionedBedStrength.invalid && sanctionedBedStrength.touched" type="number" formControlName="sanctionedBedStrength" class="form-control" id="inputBedStrength" placeholder="Enter sanctioned bed strength">
                                <div *ngIf="sanctionedBedStrength.invalid && sanctionedBedStrength.touched">
                                    <small *ngIf="sanctionedBedStrength.errors?.['required']" class="text-danger">Sanctioned bed strength is required</small>
                                </div>
                            </div>
                            <div class="col-12">
                                <button type="button" class="btn btn-secondary btn-sm my-2" (click)="addMoreServices()"><i class="fas fa-plus"></i> Add Hospital Service</button>
                                <div formArrayName="services" *ngFor="let service of services.controls; let i=index">
                                    <input type="text" class="form-control my-1" [formControlName]="i" placeholder="Enter hospital service">
                                </div>
                            </div>
                            <div class="col-12">
                                <button type="button" class="btn btn-secondary btn-sm my-2" (click)="addSupportedInsurance()"><i class="fas fa-plus"></i> Add Supported Insurance Company</button>
                                <div formArrayName="supportedInsurance" *ngFor="let insurance of supportedInsurance.controls; let i=index">
                                    <input type="text" class="form-control my-1" [formControlName]="i" placeholder="Enter supported insurance companies">
                                </div>
                            </div>
                            <div class="col-md-2">
                              <div class="form-check">
                                <input formControlName="active" class="form-check-input" type="checkbox" id="activeCheck">
                                <label class="form-check-label" for="activeCheck">
                                  Active
                                </label>
                              </div>
                            </div>
                            <div class="col-md-10">
                                <div class="form-check">
                                  <input formControlName="coronaHospital" class="form-check-input" type="checkbox" id="coronaCheck">
                                  <label class="form-check-label" for="coronaCheck">
                                    Corona Treatment Available
                                  </label>
                                </div>
                            </div>
                            <div class="col-12">
                              <button [disabled]="!editHospitalForm.valid" type="submit" class="btn btn-primary text-uppercase">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>