<div class="container-fluid m-0 p-0 mainContainerBackground">
    <div class="row m-0 p-0">
        <div class="col-12 m-0 p-0">
            <div class="container">
                <div class="row my-5">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a routerLink="/home" class="breadcrumbStyle"><b>Home</b></a></li>
                            <li class="breadcrumb-item"><a routerLink="/healthServices" class="breadcrumbStyle"><b>Health Services</b></a></li>
                            <li class="breadcrumb-item active" aria-current="page"><b>Edit Health Service</b></li>
                        </ol>
                    </nav>
                    <div class="col-12 secondaryContainerBackground p-4">
                        <h1 class="h3 mb-4 mainHeader"><i class="fas fa-edit"></i> Edit Health Service</h1>
                        <form [formGroup]="editHealthServiceForm" (ngSubmit)="formSubmit()">
                            <div class="form-group mb-3">
                              <label for="inputName" class="form-label">Health Service</label>
                              <input type="text" formControlName="name" class="form-control" id="inputName" placeholder="Enter health service">
                              <div >
                                <small class="text-danger">Health service name is required</small>
                              </div>
                            </div>
                            <button [disabled]="!editHealthServiceForm.valid" type="submit" class="btn btn-primary text-uppercase">Update Health Service</button>
                          </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-snackbar></app-snackbar>
