<div class="container-fluid m-0 p-0 mainContainerBackground">
    <div class="row m-0 p-0">
        <div class="col-12 m-0 p-0">
            <div class="container">
                <div class="row my-5">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a routerLink="/home" class="breadcrumbStyle"><b>Home</b></a></li>
                            <li class="breadcrumb-item"><a routerLink="/insuranceCompanies" class="breadcrumbStyle"><b>Insurance Companies</b></a></li>
                            <li class="breadcrumb-item active" aria-current="page"><b>Edit Insurance Company</b></li>
                        </ol>
                    </nav>
                    <div class="col-12 secondaryContainerBackground p-4">
                        <h1 class="h3 mb-4 mainHeader"><i class="fas fa-edit"></i> Edit Insurance Company</h1>
                        <form [formGroup]="editInsuranceCompanyForm" (ngSubmit)="formSubmit()">
                            <div class="form-group mb-3">
                              <label for="inputName" class="form-label">Insurance Company</label>
                              <input [class.is-invalid]="name.invalid && name.touched" type="text" formControlName="name" class="form-control" id="inputName" placeholder="Enter insurance company">
                              <div *ngIf="name.invalid && name.touched">
                                <small *ngIf="name.errors?.['required']" class="text-danger">Insurance company name is required</small>
                              </div>
                            </div>
                            <button [disabled]="!editInsuranceCompanyForm.valid" type="submit" class="btn btn-primary text-uppercase">Update Insurance Company</button>
                          </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>